
* {
    margin:0 auto;
    padding:0 auto;
}

.page {
    background-color: #282828;
    width: 100%;
}

.header {
    background: #5B5B5B;
    height: 200px;
    width: 100%;
}

.footer {
    background: #A9A9A9;
    height: 50px;
    width: 100%;
    margin-top: 300px;
    border-radius: 5px;
    text-align: center;
}

.menu ul{
    list-style-type: none;
    margin-top: 10px;
    width: 100%;
    background-color: #888888;
    padding:10px;

}

.menu ul li {
    display: inline;
    padding:50px;
}

.menu a {
    text-decoration: none;
}